<md-content layout="column" ng-controller="HallController as hCtrl">
    <md-switch ng-repeat="sw in hCtrl.switches" ng-change="hCtrl.switchToggle(sw)"
               class="md-primary" aria-label="{{ sw.label }}" ng-model="sw.state">
        {{ sw.label }}
    </md-switch>
    <h3>
        RGB <span ng-attr-style="border: 1px solid #333; background: rgb({{hCtrl.color.red}},{{hCtrl.color.green}},{{hCtrl.color.blue}})">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </h3>
    <div layout>
        <div flex="10" layout layout-align="center center">
            <span class="md-body-1">R</span>
        </div>
        <md-slider flex min="0" max="255" ng-model="hCtrl.color.red" aria-label="red" id="red-slider" class>
        </md-slider>
        <div flex="20" layout layout-align="center center">
            <input flex type="number" ng-model="hCtrl.color.red" aria-label="red" aria-controls="red-slider">
        </div>
    </div>
    <div layout>
        <div flex="10" layout layout-align="center center">
            <span class="md-body-1">G</span>
        </div>
        <md-slider flex ng-model="hCtrl.color.green" min="0" max="255" aria-label="green" id="green-slider" class="md-accent">
        </md-slider>
        <div flex="20" layout layout-align="center center">
            <input flex type="number" ng-model="hCtrl.color.green" aria-label="green" aria-controls="green-slider">
        </div>
    </div>
    <div layout>
        <div flex="10" layout layout-align="center center">
            <span class="md-body-1">B</span>
        </div>
        <md-slider flex ng-model="hCtrl.color.blue" min="0" max="255" aria-label="blue" id="blue-slider" class="md-primary">
        </md-slider>
        <div flex="20" layout layout-align="center center">
            <input flex type="number" ng-model="hCtrl.color.blue" aria-label="blue" aria-controls="blue-slider">
        </div>
    </div>
</md-content>
